body {
    background-color: antiquewhite;
}

a{
    color:black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

img{
    height: 30vh;
    width: auto;
}